<div class="row">
  <div class="col-xs-12">
    <p>Add new Servers or blueprints!m</p>
    <label>Server Name</label>
    <!-- //mai jos solutie cu 2-way binding   -->
    <!-- <input type="text" class="form-control" [(ngModel)]="newServerName" />  -->
    <!-- <input type="text" class="form-control" #NUMESERVER/> -->
    <!-- //mai sus solutie cu local reference "numeserver" si se folosesc DOAR IN HTML TEMPLATE !!! -->
    <!-- mai jos solutie local reference #si decorator @ -->
    <input type="text" class="form-control" #serverName /> 
    <label>Server Content</label>
    <input type="text" class="form-control" [(ngModel)]="newServerContent" />
    <!-- <input type="text" class="form-control" #CONTINUT /> -->
    <br />
    <!-- <button class="btn btn-primary" (click)="onAddServer(NUMESERVER,CONTINUT)">Add Server</button>
    <button class="btn btn-primary" (click)="onAddBlueprint(NUMESERVER.value,CONTINUT.value)"> -->
        <button class="btn btn-primary" (click)="onAddServer()">Add Server</button>
        <button class="btn btn-primary" (click)="onAddBlueprint()">
      Add Server Blueprint
    </button>
  </div>
</div>
