<div class="container">
  <app-cockpit
    (svCreated)="onServerAdded($event)"
    (bpCreated)="onBlueprintAdded($event)"
  ></app-cockpit>
  <hr />
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-primary" (click)="onChangefirst()"> change first element </button>
      <button class="btn btn-danger" (click)="sterge()"> Destroy component </button>
      <app-server-element
        *ngFor="let item of serverElements"
        [srvElement]="item"
      >
        <p >
          <strong *ngIf="item.type === 'server'" style="color: red">{{
            item.continut
          }}</strong>
          <em
            *ngIf="item.type === 'blueprint'"
            style="color: rgb(0, 89, 255)"
            >{{ item.continut }}</em
          >
        </p>
      </app-server-element>
    </div>
  </div>
</div>
